.grid > div {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    float: left;
}

div div {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    float: left;
}
.aspirateur {
    background-image: url("/assets/aspirateur.png");
    background-size: 1.5em;
}
