<div class="settings">
	<br/>
		<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<form class="form-horizontal">
						<fieldset>
							<!-- Form Name -->
							<legend>Aspirateur Challenge</legend>
		
							<br/>
							<div class="row">
								<div class="col-md-4">
								<!-- Text input-->
									<div class="form-group">
										<div class="row">
											<label class="col-md-4 control-label" for="xMax">MAX X</label>
												<div class="col-md-8">
												<input [(ngModel)]="xMax" id="xMax" name="xMax" type="number" placeholder="" class="form-control input-md">
												</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
								<!-- Text input-->
									<div class="form-group">
										<div class="row">
												<label class="col-md-4 control-label" for="yMax">MAX Y</label>
												<div class="col-md-8">
												<input [(ngModel)]="yMax" id="yMax" name="yMax" type="number" placeholder="" class="form-control input-md">
												</div>
										</div>				
									</div>
								</div>
								<div class="col-md-4">
										
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="form-group">
										<div class="row">
											<label class="col-md-4 control-label" for="x">X</label>
												<div class="col-md-8">
												<input [(ngModel)]="position.x" id="x" name="x" type="number" placeholder="" class="form-control input-md">
												</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<div class="row">
											<label class="col-md-4 control-label" for="y">Y</label>
												<div class="col-md-8">
												<input [(ngModel)]="position.y" id="y" name="y" type="number" placeholder="" class="form-control input-md">
												</div>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-group">
										<div class="row">
											<label class="col-md-4 control-label" for="angle">DIRECTION</label>
												<div class="col-md-8">
														<select class="custom-select" id="angle" (change)="position.angle = Direction[$event.target.value]">
																<option [value]="Direction.N" selected>NORTH</option>
																<option [value]="Direction.S">SOUTH</option>
																<option [value]="Direction.W">WEST</option>
																<option [value]="Direction.E">EAST</option>
															</select>
												</div>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			<br/>
			<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-6">
									
							</div>
							<div class="col-md-6">
								<div class="row">
									<div class="col-md-4">
											
									</div>
									<div class="col-md-2">
											<button class="btn btn-link" value="E" (click)="position.execute(Command.LEFT)">LEFT</button>
									</div>
									<div class="col-md-2">
											<button class="btn btn-link" value="D" (click)="position.execute(Command.RIGHT)">RIGHT</button>
									</div>
									<div class="col-md-2">
											<button class="btn btn-primary" value="A" (click)="position.execute(Command.ADVANCE)">WALK</button>
									</div>
									<div class="col-md-2">
											<button class="btn btn-dark" value="R" (click)="position.reset()">RESET</button>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			<br/>
</div>
<br/>
<app-grid [position]="position" [xMax]="xMax" [yMax]="yMax"></app-grid>
