div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <form class="form-horizontal">
      <fieldset>

        <!-- Form Name -->
        <legend>Elevator Resistance Problem</legend>

		<div class="row">
			<div class="col-md-4">
			<!-- Text input-->
				<div class="form-group">
					<div class="row">
						<label class="col-md-4 control-label" for="textinput">Number of elevators</label>
						  <div class="col-md-8">
							<input [(ngModel)]="nm_elevators" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
						  </div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
			<!-- Text input-->
				<div class="form-group">
					<div class="row">
						  <label class="col-md-4 control-label" for="textinput">Number of floors</label>
						  <div class="col-md-8">
							<input [(ngModel)]="nm_floors" id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md">
						  </div>
					</div>				
				 </div>
			</div>
			<div class="col-md-4"> 
				<!-- Button -->
				<div class="form-group">
				  <div class="col-md-8">
					<button id="singlebutton" name="singlebutton" class="btn btn-primary" (click)="createElevators()">Ok</button>
				  </div>
				</div>
			</div>
		</div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-1"></div>
</div>